PORT=4000

# Opcion 1: URL completa (Render recomienda esto)
# DATABASE_URL=postgresql://user:password@host:5432/store_online

# Opcion 2: variables separadas (local)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=store_online
DB_SSL=false

SESSION_SECRET=change_this_secret
SESSION_NAME=sid_store
SESSION_COOKIE_SECURE=false

# Ruta opcional para backups locales con pg_dump (Windows)
# PGDUMP_PATH="C:\\Program Files\\PostgreSQL\\17\\bin\\pg_dump.exe"
